:root {
  --background-color: #F3F3F3;
  --primary-color: #47ABFF;
  --text-color: #4A4A4A;
}
body {
  margin: 0;
}
.Root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.TitleBar {
  height: 22px;
  border-bottom: 2px solid var(--background-color);
}
.Columns {
  display: flex;
  flex: 1;
}