:root {
  --background-color: #F0F0F0;
  --front-color: #F8F8F8;
  --primary-color: #47ABFF;
  --text-color: #4A4A4A;
  --default-font-family: BlinkMacSystemFont, "Segoe UI";
}
body {
  margin: 0;
  background-color: white;
}
* {
  user-select: none;
  font-family: var(--default-font-family);
  color: var(--text-color);
}
