:root {
  --background-color: #F0F0F0;
  --front-color: #F8F8F8;
  --primary-color: #47ABFF;
  --text-color: #4A4A4A;
  --default-font-family: BlinkMacSystemFont, "Segoe UI";
}
body {
  margin: 0;
  background-color: white;
}
* {
  user-select: none;
  font-family: var(--default-font-family);
  color: var(--text-color);
}
.AppView {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .titleBar {
    height: 22px;
    border-bottom: 2px solid var(--background-color);
    background-color: var(--front-color);
    -webkit-app-region: drag;
  }
  .columns {
    display: flex;
    flex: 1;
  }
}
