:root {
  --background-color: #F3F3F3;
  --primary-color: #47ABFF;
  --text-color: #4A4A4A;
  --default-font-family: BlinkMacSystemFont, "Segoe UI";
}
body {
  margin: 0;
  background-color: white;
}
* {
  user-select: none;
  font-family: var(--default-font-family);
  color: var(--text-color);
}
.AppView {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.TitleBar {
  height: 22px;
  border-bottom: 2px solid var(--background-color);
  -webkit-app-region: drag;
}
.Columns {
  display: flex;
  flex: 1;
}