.Inspector {
  width: 240px;
  padding: 8px;
  box-sizing: border-box;
}
.Header {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}
.FillRow {
  display: flex;
  align-items: center;
}
.FillRow > * {
  margin-right: 8px;
}
.StrokeRow {
  display: flex;
  align-items: center;
}
.StrokeRow > * {
  margin-right: 8px;
}
.StrokeRow > :last-child {
  width: 40px;
}